package ui

templ Field(
    id string,
    label string,
    input templ.Component,
    errorMsg string,
) {
    <div class="space-y-2">
        @Label(id, label)
        @input

        if errorMsg != "" {
            <p class="text-sm text-red-500">{ errorMsg }</p>
        }
    </div>
}

