package ui

templ Modal(
    title string,
    body templ.Component,
) {
    <div class="fixed inset-0 bg-black/50 flex items-center justify-center">
        <div class="bg-background rounded-lg p-6 w-[400px] space-y-4">
            <h2 class="text-lg font-semibold">{ title }</h2>
            @body
        </div>
    </div>
}

