package ui

templ Table[T any](headers []string, rows []T, renderRow func(T) templ.Component) {
    <table class="w-full border rounded-md">
        <thead>
            <tr>
                for _, h := range headers {
                    <th class="px-2 py-1 text-left text-xs font-medium">{ h }</th>
                }
            </tr>
        </thead>
        <tbody>
        for _, row := range rows {
            <tr class="border-t">
                    @renderRow(row)
            </tr>
        }
        </tbody>
    </table>
}
