package components

templ Input(id string, name string, inputType string, value string, placeholder string, attrs map[string]string) {
	<input
		id={ id }
		name={ name }
		type={ inputType }
		value={ value }
		placeholder={ placeholder }
		class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm"
		{ attrs... }
	/>
}
