package components

templ Modal(title string, body templ.Component, showClose bool) {
	<div class="fixed inset-0 bg-black/50 flex items-center justify-center">
		<div class="bg-background rounded-lg p-6 w-[400px] space-y-4 relative">
			if showClose {
				<button class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">×</button>
			}
			<h2 class="text-lg font-semibold">{ title }</h2>
			<div>
				@body
			</div>
		</div>
	</div>
}
